{% extends 'clinica/baseclinica.html.twig' %}

{% block title %}Criar clinica{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}
    <h3>Criar clinica</h3><hr>
    {{ form(form) }}
{% endblock %}
