.form-container {
    max-height: 600px;
    overflow-y: auto;
}

.form-container-table {
    max-height: 240px;
    overflow-y: scroll;
}

.bg-menu{
    background-color: rgb(19, 21, 24);
    border-radius: 5px;
}