{% extends 'atendimento/baseatendimento.html.twig' %}

{% block title %}Criar atendimento{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}
    <div class="form-container">
        <h3>Criar atendimento</h3><hr>
        {{ form(form) }}
    </div>
{% endblock %}
