{% extends 'atendimento/baseatendimento.html.twig' %}

{% block title %}Hello ClinicaController!{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}
    <div class="form-container">
        {{ form(form) }}
    </div>
{% endblock %}
