{% extends '/atendimento/baseatendimento.html.twig' %}

{% block title %}Ultimos atendimentos{% endblock %}

{% block content %}

{% if registros is empty %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100%">
        <div class="row justify-content-center">
            <h4>Sem atendimentos ate o momento...</h4>
        </div>
    </div>
{% else %}

<table class="table table-dark table-striped border border-black text-center mt-4">
    <thead>
        <th>a</th>
        <th>b</th>
    </thead>
    <tbody>
        
    </tbody>
</table>

{% endif %}

{% endblock %}
