{% extends 'papel/base.html.twig' %}

{% block title %}Editar papel{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}
    <h3>Editar papel</h3><hr>
    <div class="form-container">
        {{ form(form) }}
    </div>
{% endblock %}
