{% extends 'profissional/baseprofissional.html.twig' %}

{% block title %}Editar profissional{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}
    <h3>Editar profissional</h3><hr>
    {{ form(form) }}
{% endblock %}
