{% extends 'vacina/basevacina.html.twig' %}

{% block title %}Criar vacina{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}
    <h3>Criar vacina</h3><hr>
    {{ form(form) }}
{% endblock %}
